<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <style>
    button.btn.btn-primary {
      background-color: #EBBAB9 !important;
      border: none !important;
      cursor: pointer !important;
    }

    .btn-primary:hover {
      background-color: #b99696 !important;
    }

    a {
      color: #EBBAB9 !important;
      cursor: pointer !important;
    }
  </style>
</html>