<!doctype html>
<html lang="en">
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <div class="navbar-brand" href="#">
                <img src="../clipart981146.png" alt="" width="85" height="85">
                Studio Ghibli Store
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav navbar-right">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-link color-pink" href="/">
                            <a role="button" class="btn btn-outline-primary custom-btn" href="/" style="margin-top: 10px;">Volver al inicio </a>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container col-6 mx-auto">
        <div class="card shadow-lg" style="border-color: transparent; margin-top: 40px;">
            <div class="card-body">
                <div id="chat" class="col" style="width: 50%;">
                    <h2 style="margin-top: 80px;">Chat</h2>

                    <div id="messages" class="container"></div>

                    <form onsubmit="return enviarMensaje('{{user}}')">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Mensaje</span>
                            <textarea class="form-control" placeholder="Tu mensaje" aria-label="text" name="text" id="text"></textarea>
                        </div>
                      
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Enviar mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <script type="module" src="../main.js"></script>
</html>